export LINK_TABLE=shotaOniDynamoDB
export REGION=ap-northeast-1
export STACK_BUCKET="stack-bucket-for-url-shortener-lambda-go-2021-1205-shota"
export FILE_BUCKET="sqs-sns-lambda-sample-20211205-shota"
